<table class="table table-hover table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Dni</th>
            <th scope="col">Phone</th>
            <th scope="col">Location</th>
            <th scope="col" style="text-align: center;">Option</th>

        </tr>
    </thead>
    <tbody class="">
        <tr *ngFor="let items of usuario; let i= index ">
            <th scope="row">{{items.id}}</th>
            <td>{{items.name}}</td>
            <td>{{items.age}}</td>
            <td>{{items.dni}}</td>
            <td>{{items.phone}}</td>
            <td>{{items.location}}</td>
            <td class="col d-flex justify-content-evenly">
                <button class="btn btn-success">Update</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>