.container-fluid {
    height: 100vh;
    align-content: center;
    padding: 0;
    margin: 0;
    // background: linear-gradient(90deg, rgba(0, 121, 146, 1) 0%, rgba(103, 156, 172, 0) 26%, rgba(183, 183, 192, 0) 68%, rgba(0, 121, 146, 1) 100%);
}

.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/fondo_login.jpg');
    background-repeat: no-repeat;
    background-position: 0px -300px;
    filter: blur(5px);
}

.importante {
    color: white !important;
}

label {
    cursor: pointer;
    span i {
        color: white;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #99999893;
    color: black;
    border: 0 !important;
    margin: 0 1em;
}

.input-group {
    padding-bottom: 1em;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.login {
    padding: .3em 2em !important;
    font-size: 1.1rem !important;
    border-radius: 8px !important;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}