<section class="container-fluid">
    <div class="fondo"></div>
    <article class="d-flex justify-content-center h-100">
        <article class="card">
            <article class="card-header">
                <h3 class="text-center fw-3">Login</h3>
            </article>
            <article class="card-body">
                <form class="h-100 " [formGroup]="formLogin" (ngSubmit)="enviar()">
                    <div class="input-group form-group">
                        <label for="user" class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                        </label>
                        <input type="text" class="form-control" id="user" name="user" placeholder="username" required formControlName="user">
                    </div>
                    <div class="input-group form-group">
                        <label for="pas" class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        </label>
                        <input type="password" id="pas" name="pass" class="form-control" placeholder="password" required formControlName="pass">
                    </div>
                    <span *ngIf="!formLogin.validator" class="importante"> Importante ir a: olvide mi contraseña..  <i class="bi bi-arrow-bar-down"></i></span>
                    <div class="form-group d-flex justify-content-center mt-auto ">
                        <input type="submit" value="Login" class="btn btn-primary login">
                    </div>
                </form>
            </article>
            <article class="card-footer">

                <div class="d-flex justify-content-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#mostrar">¿Olvidó su contraseña? </a>
                </div>
            </article>
        </article>
    </article>
</section>


<div class="modal fade" id="mostrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuarios para ingresar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">...</button>
            </div>
            <div class="modal-body">
                <h3>usuario</h3>
                <p>"user": "Jhoni" | "pass": 54404620,</p>
                <h3>Administrador</h3>
                <p>"user": "Lucas" | "pass": 56214758,</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>