<section class="detalles">
    <article>
        <aside>
            <a href="" type="button" data-bs-toggle="modal" data-bs-target="#video1" data-bs-whatever="@fat"> <img src="../../../assets/photo4992407265919216130.jpg" alt="..." width="auto"></a>

        </aside>

        <aside>
            <div>
                <h2>Título de 20 px</h2>
                <p>Mayor durabilidad, estabilidad, confort de marcha y mucha seguridad. Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet orem ipsum dolor.</p>
            </div>
        </aside>
    </article>
    <article>
        <aside>
            <a href="" type="button" data-bs-toggle="modal" data-bs-target="#video1" data-bs-whatever="@fat"> <img src="../../../assets/photo4992407265919216130.jpg" alt="..." width="auto"></a>

        </aside>

        <aside>
            <div>
                <h2>Título de 20 px</h2>
                <p>Mayor durabilidad, estabilidad, confort de marcha y mucha seguridad. Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet orem ipsum dolor.</p>
            </div>
        </aside>
    </article>
    <article>
        <aside>
            <a href="" type="button" data-bs-toggle="modal" data-bs-target="#video1" data-bs-whatever="@fat"> <img src="../../../assets/photo4992407265919216130.jpg" alt="..." width="auto"></a>

        </aside>

        <aside>
            <div>
                <h2>Título de 20 px</h2>
                <p>Mayor durabilidad, estabilidad, confort de marcha y mucha seguridad. Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet orem ipsum dolor.</p>
            </div>
        </aside>
    </article>
</section>

<div class="modal fade" id="video1" tabindex="-1" aria-labelledby="exampleModalLabe5" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <video buffered controls>
                <source src="../../../assets/Digital-solutions.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>