img {
    width: 100%;
    height: auto;
}

.detalles {
    article {
        display: flex;
        justify-content: center;
        aside {
            padding: 28px 0;
            display: flex;
            justify-content: center;
            width: 80%;
        }
        aside:nth-child(1) {
            img {
                max-width: 559px;
                max-height: 295px;
            }
        }
        aside:nth-child(2) {
            flex-direction: column;
            align-items: center;
            div {
                width: 60%;
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    color: rgb(55, 55, 55);
                }
                p {
                    font-size: 19px;
                    font-weight: normal;
                    color: rgb(85, 85, 85);
                }
            }
        }
    }
    article:nth-child(even) {
        flex-direction: row-reverse;
    }
}

//----------------------------------------------------------------------------
@media only screen and (max-width: 1283px) {
    .detalles {
        article {
            aside:nth-child(2) {
                img {
                    width: 100%;
                    height: auto;
                    max-width: 559px;
                    max-height: 295px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .detalles {
        article {
            aside:nth-child(1) {
                padding-top: 15px;
                div {
                    width: 90%;
                }
            }
            aside:nth-child(2) {
                padding-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .detalles {
        article {
            flex-direction: column-reverse;
            aside {
                width: 100%;
            }
            aside:nth-child(1) {
                div {
                    h2 {
                        color: rgb(32, 32, 32);
                        font-weight: 500;
                    }
                    p {
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
            aside:nth-child(2) {
                img {
                    padding: 0 5%;
                }
            }
        }
        article:nth-child(2) {
            flex-direction: column-reverse;
        }
    }
}