* {
    font-family: sans-serif;
    font-weight: normal;
}

a {
    cursor: pointer;
}

.fixed {
    position: fixed;
    z-index: 100;
    top: 0;
}

.menu {
    height: 70px;
    padding: 0 35px;
    background-color: white;
    border-bottom: 1px solid rgba(226, 226, 226, 0.699);
    .menu-page {
        height: 100%;
        ul {
            height: 100%;
            border: none !important;
            li {
                color: black;
                width: 150px;
                text-align: center;
                padding-top: 7px;
                line-height: 50px;
                .active {
                    color: rgb(235, 10, 30);
                    box-shadow: 0px 4px rgb(235, 10, 30);
                    background-color: white;
                    border-radius: 0;
                }
                a {
                    color: black;
                }
            }
        }
    }
    .menu-subPage {
        height: auto;
        width: auto;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        overflow-y: auto;
        ul {
            display: flex;
            flex-direction: column;
            .nav-close {
                padding-right: 27px;
                margin-bottom: 10px;
                margin-top: 10px;
                label span {
                    height: 18px;
                    width: 44px;
                    margin-right: .5em;
                    cursor: pointer;
                }
                .label:hover,
                span:hover {
                    color: red;
                    font-weight: bolder;
                }
            }
            .nav-item {
                padding-right: 53px;
            }
            .nav-linea {
                display: flex;
                justify-content: center;
                .linea {
                    width: 90%;
                    height: 0.1px;
                    border: solid 1px #e9e9e9;
                }
            }
            .nav-link {
                color: rgb(0, 0, 0) !important;
            }
            .nav-link:hover {
                color: rgba(77, 75, 75, 0.645) !important;
            }
            .nav-container_sub {
                background-color: #efeeef;
            }
        }
    }
}

.img-logo {
    width: 100%;
    height: 39px;
    cursor: pointer;
}

.img-menu {
    width: 28px;
    height: 20px;
    cursor: pointer;
}

.img-menu_cerrar {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.menu-subPage {
    text-align: end;
    position: absolute;
    top: 70px;
    right: 0%;
}

li {
    line-height: 1.46;
}

a {
    font-size: 20px;
}

.menu-close {
    display: none;
}

.menu-open {
    display: block;
}

#responsil {
    display: none;
}

//************************ "xxs" Extra small phones ****************************************
@media only screen and (max-width: 400px) {
    .menu-logo {
        width: 75%;
    }
}

// ----------------------------------- "xs" -------------------------------------
@media only screen and (max-width: 575px) {
    .menu {
        .menu-subPage {
            width: 100%;
            height: 90vh;
        }
    }
}

// ===============================================================================================
// ================================ "sm"  Small phone ================================
@media only screen and (min-width: 576px) {
    .menu {
        .menu-subPage {
            width: 50%;
            height: 90vh;
        }
    }
}

// -------------------------------- "md" table -------------------------------------
@media only screen and (min-width: 768px) {
    .menu {
        .menu-subPage {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 992px) {
    #responsil {
        display: block;
    }
}

// ================================ "lg" Laptps/desktops Large devices  ================================
@media only screen and (min-width: 992px) {
    .menu {
        .menu-subPage {
            width: 40%;
        }
    }
}

// ================================ "xl" desktops/expans Large devices  ================================
@media only screen and (min-width: 1200px) {
    .menu {
        .menu-subPage {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .menu {
        .menu-subPage {
            width: 27.5%;
            height: auto;
        }
    }
}

// ------------------------------------------------------------------------