<section class="fixed container-fluid p-0 m-0 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 m-0">
        <div class="menu container-fluid">
            <section class="menu-logo ">
                <img class="img-logo" [routerLink]="['/']" src="../../../assets/1.png" alt="...">
            </section>
            <section class="menu-page collapse navbar-collapse  " id="navbarTogglerDemo03">
                <ul class="nav nav-tabs nav-pills mb-3" style="padding-left: 110px;" role="tablist">
                    <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 110px;" id="pages"> -->
                    <li class="nav-item  ">
                        <a class="nav-link active " aria-current="page" [routerLink]="['/inicio']" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="true" disabled><i class="bi bi-house-door"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="'/admin'" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="false" disabled><i class="bi bi-file-spreadsheet"></i> Admin</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link " [routerLink]="'/'" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="false" disabled>Salir<i class="bi bi-arrow-bar-right"></i></a>
                    </li>
                </ul>
            </section>
            <section id="responsil">
                <img class="img-menu" src="../../../assets/nav/menu.png" (click)="menuOpenClose('menu-open')" alt="menu">
            </section>
            <section class="menu-subPage" [ngClass]="menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-rigth">
                    <li class="nav-close" (click)="menuOpenClose('menu-close')">
                        <label for="idclose"> <span>Cerrar</span>  </label>
                        <a id="idclose"> <img class="img-menu_cerrar" src="../../../assets/nav/menu-cerrar.png" alt="cerrar"></a>
                    </li>
                    <br>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="'/inicio'">Home <i class="bi bi-house-door"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/admin'">Adminitracion <i class="bi bi-file-spreadsheet"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="'/'">Cerrar Seccion <i class="bi bi-arrow-bar-right"></i> </a>
                    </li>
                </ul>

            </section>
        </div>
    </nav>
</section>